/* PRIMARY #EEA835 */
/* GRAY #EAEEF0 */
/* WHITE #EAEEF0 */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  height: calc(100% - 60px);
}

.Panel{
  flex: 1;
  height: 100%;
}

.Primary{
  background-color: aliceblue;
  max-width: 450px;
}

.min{
  max-width: 380px;
}

.react-calendar{
  background-color: aliceblue !important;
  border: 0px solid #fff !important;
}