/* PRIMARY #EEA835 */
/* GRAY #EAEEF0 */
/* WHITE #EAEEF0 */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  height: calc(100% - 60px);
}

.Panel{
  flex: 1;
  height: 100%;
}

.Primary{
  background-color: aliceblue;
  max-width: 420px;
}

.min{
  max-width: 300px;
}

.react-calendar{
  background-color: #fff !important;
  border: 0px solid #fff !important;
  padding: 10px;
  border-radius: 13px;
  font-family: 'Raleway', sans-serif !important;
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.08);
  box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.08);
}

.react-calendar__tile--now{
  background-color: #EEA835 !important;
  color: white;
}

.Gchart{
  font-family: 'Raleway', sans-serif !important;
  margin: 20px 0px;
}

@media only screen and (max-width: 768px) {
  .Content{
    flex-direction: column;
  }
}