/* PRIMARY #EEA835 */
/* GRAY #EAEEF0 */
/* WHITE #EAEEF0 */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Content{
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  height: 100%;
}

.Panel{
  flex: 1;
  height: 100%;
}

.Primary{
  background-color: aliceblue;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.min{
  max-width: 300px;
}

.react-calendar{
  background-color: #fff !important;
  border: 0px solid #fff !important;
  padding: 10px;
  border-radius: 13px;
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.08);
  box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.08);
  line-height: 0.2em !important;
  width: 300px !important;
}

.react-calendar__tile--now{
  background-color: #EEA835 !important;
  color: white;
}

.Gchart{
  font-family: 'Raleway', sans-serif !important;
  margin: 20px 0px;
}

@media only screen and (max-width: 768px) {
  .Content{
display: grid;  }
}